<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Insertion-dans-la-table-Pays" data-toc-modified-id="Insertion-dans-la-table-Pays-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Insertion dans la table Pays</a></span></li></ul></div>

# Insertion dans la table Pays

In [1]:
#Import

#from sqlalchemy import create_engine
import cx_Oracle
from tqdm import tqdm
import pandas as pd
import numpy as np
import re

In [2]:
# Connexion à la base de données
mydb = cx_Oracle.connect('SCT2985A/esg@//telline.univ-tlse3.fr:1521/etupre', encoding='UTF-8', nencoding="UTF-8")
mycursor = mydb.cursor()

In [5]:
def insert(sql_request, liste):

    id = 0 

    for elem in tqdm(liste): 
        values = [id, elem]
        mycursor.execute(sql_request, values)
        id += 1
        
    # On commit
    mydb.commit()

In [4]:
# PAYS
liste_pays_BD = ["Algérie", "Angola", "Bénin", "Botswana", "Burkina Faso", "Burundi", "Cameroun", "Cap vert",
                 "République centrafricaine", "Tchad", "Comores", "Congo", "Djibouti", "Egypte",
                 "Guinée équatoriale", "Erythree", "Ethiopie", "Gabon", "Gambie", "Ghana", "Guinée", 
                 "Guinée-Bissau", "Côte d'Ivoire", "Kenya", "Lesotho", "Liberia", "Libye", "Madagascar", "Malawi",
                 "Mali", "Mauritanie", "Ile Maurice", "Maroc", "Mozambique", "Namibie", "Niger", "Nigeria", 
                 "Rwanda", "Sao Tomé-et-Principe", "Sénégal", "Seychelles", "Sierra Leone", "Somalie", 
                 "Afrique du Sud", "Soudan", "Swaziland", "Tanzanie", "Togo", "Tunisie", "Ouganda", "Zambie", 
                 "Zimbabwe", "Albanie", "Andorre", "Arménie", "Autriche", "Azerbaijan", "Biélorussie", "Belgique", 
                 "Bosnie", "Bulgarie", "Croatie", "Chypre", "République Tchèque", "Danemark", "Estonie", 
                 "Finlande", "France", "Angleterre", "Ecosse", "Pays de Galles", "Géorgie", "Allemagne", "Grèce", 
                 "Hongrie", "Islande", "Irelande", "Italie", "Lettonie", "Liechtenstein", "Lituanie", "Luxembourg",
                 "Macédoine", "Malte", "Moldavie", "Monaco", "Montenegro", "Pays-Bas", "Norvège", "Pologne", 
                 "Portugal", "Roumanie", "Saint-Marin", "Serbie", "Slovaquie", "Slovénie", "Espagne", "Suède", 
                 "Suisse", "Ukraine", "Royaume-Uni", "Vatican", "Antigua-et-Barbuda", "Bahamas", "La Barbade", 
                 "Belize", "Canada", "Costa Rica", "Cuba", "Dominique", "République dominicaine", "El Salvador", 
                 "Grenade", "Guatemala", "Haiti", "Honduras", "Jamaique", "Mexique", "Nicaragua", "Paname", 
                 "Saint-Christophe et Niévès", "Saint Lucie", "Saint Vincent et les Grenadines",
                 "Trinidad et Tobago", "Etats-Unis", "Argentine", "Bolivie", "Brésil", "Chili", "Colombie", 
                 "Equateur", "Guyane", "Paraguay", "Pérou", "Suriname", "Uruguay", "Venezuela", "Afghanistan", 
                 "Bahrein", "Bangladesh", "Bhoutan", "Brunei", "Myanmar", "Cambodge", "Chine", "Timor oriental", 
                 "Inde", "Indonésie", "Iran", "Irak", "Israël", "Japon", "Jordanie", "Kazakhstan", "Corée du Sud",
                 "Corée du Nord", "Koweït", "Kyrgyzstan", "Laos", "Liban", "Malaysie", "Maldives", "Mongolie", 
                 "Népal", "Oman", "Pakistan", "Palestine", "Philippines", "Qatar", "Russie", "Arabie Saoudite",
                 "Singapour", "Sri Lanka", "Syrie", "Tajikistan", "Thaïlande", "Turquie", "Turkmenistan", 
                 "Emirats Arabes Unis", "Ouzbekistan", "Viêtnam", "Yémen", "Australie", "Fiji", 
                 "République de Kiribati", "Iles Marshall", "Micronésie", "Nauru", "Nouvelle-Zélande", "Palau",
                 "Papouasie Nouvelle Guinée", "Iles Samoa", "Iles Salomon", "Tonga", "Tuvalu", "Vanuatu", 
                 "République Democratique du Congo"]

# Requête SQL
sql_request = "INSERT INTO Pays VALUES ( :1, :2)"

insert(sql_request, liste_pays_BD)

100%|██████████| 197/197 [00:07<00:00, 25.11it/s]

In [5]:
# MARQUES 
liste_marque_BD = ["Hyundai", "Toyota", "Renault", "Honda", "Airbus", "Boeing", "Thalès", "Mercedes", "Audi", 
                   "Kia", "Riversimple", "Nissan", "Ford", "Daimler", "Alstom", "BMW", "Hopium", "Peugeot", 
                   "Volkswagen", "General Motors", "PSA", "Roland Gumpert", "Mazda", "Aston Martin", "Pininfarina",
                   "Suzuki", "Volvo", "Opel", "Dassault", "Cessna", "Bombardier", "MiG", "Diamond", "ZeroAvia", 
                   "Rolls-Royce", "Eviation", "Khrounitchev", "NASA", "SpaceX", "Avio", "ArianeGroup", 
                   "United Launch Alliance", "McDonnell Douglas", "Mitsubishi Heavy Industries", "ISRO", 
                   "Ioujnoie"]

# Requête SQL
sql_request = "INSERT INTO Marque VALUES ( :1, :2)"

insert(sql_request, liste_marque_BD)

100%|██████████| 46/46 [00:01<00:00, 24.98it/s]

In [6]:
# DOMAINES 
liste_domaine_BD = ['Militaire', 'Agriculture', 'Astronautique', "Aéronautique"]

# Requête SQL
sql_request = "INSERT INTO Domaine VALUES ( :1, :2)"

insert(sql_request, liste_domaine_BD)

100%|██████████| 4/4 [00:00<00:00, 23.49it/s]

In [7]:
# VEHICULES 
liste_vehicule_BD = ["Train", "Tracteur", "Vélo", "Bateau", "Avion", "Voiture", "Camion", "Bus", "Fusée", 
                     "Hélicoptère", "Moto", "Tramway"]

# Requête SQL
sql_request = "INSERT INTO Vehicule VALUES ( :1, :2)"

insert(sql_request, liste_vehicule_BD)

100%|██████████| 12/12 [00:00<00:00, 23.00it/s]

In [8]:
# MOTEURS 
liste_moteur_BD = ["Combustion interne", "Réaction",  "Pile à combustible", "Hybride"]

# Requête SQL
sql_request = "INSERT INTO Moteur  VALUES ( :1, :2)"

insert(sql_request, liste_moteur_BD)

100%|██████████| 4/4 [00:00<00:00, 23.44it/s]

In [ ]:
#####

In [9]:
# TECHONOLOGIES
liste_type_prod_BD_H = ["SMR", "Pyrolyse du méthane", "Oxydation partielle", "Reformage plasma",
                        "Gazéification du charbon"]

liste_type_prod_BD_E = ["Electrolyse", "Electrochimie", "Radiolyse", "Thermolyse", "Thermochimie",
                        "Ferrosilicium", "Culture d'algues", "Fission photocatalytique"]

liste_type_prod_BD_A = ["Fermentation", "Production enzymatique", "Electrolyse biocatalysée"]


liste_stockage_BD = ['Gaz', 'Liquide', 'Solide']


# Requête SQL
sql_request = "INSERT INTO Technologie VALUES ( :1, :2, :3, :4)"


id_techno = 0
cpt = 0

for liste in tqdm([liste_type_prod_BD_H, liste_type_prod_BD_E, liste_type_prod_BD_A, liste_stockage_BD]):
    if (cpt != 3):
        cat = 'Production'
    else:
        cat = 'Stockage'

    if (cpt == 0):
        source = 'Hydraucarbures'
    elif (cpt == 1):
        source = 'Eau'
    elif (cpt == 2):
        source = 'Autre'
    else:
        source = None

    for techno in liste:
        values = [id_techno, techno, cat, source]
        mycursor.execute(sql_request, values)
        id_techno += 1
    cpt += 1

# On commit
mydb.commit()

In [ ]:
#####

In [20]:
df = pd.read_csv("../scraping/df_scraping_final.csv", sep=',', index_col=False, encoding='utf-8')
df.shape

(8439, 13)

In [4]:
df.head()
# (!) id en double

,Id,Date,Auteur,Titre,Langue,MotCle,Pays,Vehicule,Marque,Moteur,Stockage,Production,Domaine
0,6334032,NaN,Hezlin Ashraf-Ball and Andrew J. Oswald and Ja...,Hydrogen Transport and the Spatial Requirement...,English,Renewable energy / wind power / land use / ene...,NaN,NaN,NaN,NaN,Gaz/,NaN,NaN
1,48223,2009-05-01,Andrew J. Oswald and James I. Oswald and Hezli...,Hydrogen transport and the spatial requirement...,English,NaN,NaN,NaN,NaN,NaN,Gaz/,NaN,NaN
2,52955835,2011-01-01,PeiYuan Hsu and Xu Yang and Joshua L. Dibia an...,Design of Residential Hydrogen Fueling System ...,NaN,Faculty research day/,NaN,Voiture/,NaN,NaN,Gaz/,NaN,NaN
3,70657172,2008-09-24,Maria Antónia Travassos and A. I. Correia de S...,Penetration of hydrogen technologies: study on...,NaN,Road transport-Portugal/ Pollutant emissions/ ...,Portugal/,Voiture/,NaN,NaN,NaN,NaN,NaN
4,40069044,2007-01-01,Ivo Veldhuis,Application of hydrogen marine systems in high...,NaN,130 - Mechanical/ industrial/ civil and marine...,NaN,Bateau/,NaN,NaN,Liquide/,NaN,Aéronautique/

In [ ]:
# Normalmeent ok : 
# FAIRE UN DROP DUPLICATES SUR LA JOINTURE DES DF !! (notebook précédent)
# drop duplicates sur tout ou juste sur titre, auteur, etc ? (plutot sur tout pour garder un nb d'articles sup à 8000 )
### (!)(!)(!)(!)(!)(!)(!) regarder les doublons sur id !

In [ ]:
# AUTEURS 
col_auteurs = df['Auteur']
auteurs_deja_inseres = set()
id_auteurs = 0 
sql_request_auteurs = "INSERT INTO Auteur  VALUES ( :1, :2)"
auteur_utf8 = dict()

for auteurs in tqdm(col_auteurs) : 
    if (auteurs is not np.nan):
        auteurs = auteurs.split(' and ')

        # on enlève nb et caractère spéciaux 
        # mets en minuscule tout, puis mets que les première lettre en majuscule puis enlèev espace avant et après 
        auteurs = [re.sub("([0-9]|(\((.*?)\))|\-|\(|\)|#|\?|&|\[|\]|�|!)","", elem).lower().strip().title() for elem in auteurs] 
        
        # Supprimer les espaces en trop 
        auteurs = [' '.join(elem.split()) for elem in auteurs] 
        # Rmq : on ne peut pas utiliser la fonction créée précédemment car il faut vérifier que l'auteur que l'on veut insérer n'a pas déjà été inséré dans la BD 
        for auteur in auteurs : 
            if auteur not in auteurs_deja_inseres and len(auteur) > 2 : 
                auteurs_deja_inseres.add(auteur)
                try : 
                    auteur_BD = str(auteur.encode('ascii'))[2:-1]
                    
                except : 
                    auteur_BD = str(auteur.encode())[2:-1]
                    auteur_utf8[auteur] = auteur_BD
                
                values = [id_auteurs, auteur_BD]
                mycursor.execute(sql_request_auteurs, values)
                id_auteurs += 1
                    
                
                   
# On commit
mydb.commit()

 37%|███▋      | 3120/8439 [05:40<2:01:36,  1.37s/it]

In [28]:
print(len(auteurs_deja_inseres), len(auteur_utf8))

317 42

In [95]:
def nettoyer(date): 
    if (type(date) == str):
        if (len(date) == 10 and date[4]=='-' and date[7]=='-'):
            annee = date[:4]
            mois = date[5:7]
            jour = date[-2:]
            
            if (int(mois) < 1 or int(mois) >12 ) :
                mois = '01'
            if (int(jour) < 1 or int(jour) >31 ) :
                jour = '01'

            date = jour + '-' + mois + '-' + annee

        elif (len(date) == 6 and date[0] == '[' and date[-1] == ']'):
            annee = date[1:-1]
            date = '01-01-' + annee

        elif (len(date) == 4 and ('19' in date or '20' in date)):
            date = '01-01-' + date

        else : 
            if (re.search("(19|20)[0-9]{2}", date) is not None):
                pos = re.search("(19|20)[0-9]{2}", date).start()
                annee = date[pos:pos+4]
                date = '01-01-' + annee
            else :
                date = None 
    else : 
        date = None
    return date

In [98]:
# ARTICLES 
ids = df['Id']
titres = df['Titre'].apply(lambda x : None if (x is np.nan) else x.lower().capitalize())
langues = df['Langue'].apply(lambda x : None if x=='Undetermined' else x).apply(lambda x : None if (x is np.nan) else x)
dates = df['Date'].apply(lambda x : nettoyer(x))

sql_request_articles = "INSERT INTO Article  VALUES ( :1, :2, :3, :4)"

# Rmq : on a effectué un drop duplicate préalablement => pas de risque de doublons 
for id, titre, langue, date in zip(tqdm(ids), titres, langues, dates): 
    values = [id, titre, langue, date]
    mycursor.execute(sql_request_articles, values)

# On commit
mydb.commit()

100%|██████████| 8439/8439 [11:56<00:00, 11.77it/s]

In [17]:

mydb.rollback()

In [ ]:
# MOT CLE
# nétoyyer mot clé => enlever ponctuation (pas toutes ! mais les parentèses pâs les - )
# enelver espace avant après (et en trop au milieu)
# majuscule ? 
# voir NLP comment netoyyer mot OU 
# fonction tanguy porjet interpromo ?

In [44]:
# sql = "DELETE FROM Article"
# mycursor.execute(sql)

In [15]:
type(test[1])

str

In [42]:
def insert2(relation, att, nom_id_att, isAuteur):
    sql_request = "INSERT INTO " + relation + "_Evoq VALUES ( :1, :2)"
    for chaine_att,id in zip(tqdm(df[relation]), df['Id']):

        if (chaine_att is not np.nan):
            if (isAuteur):
                liste_att = chaine_att.split(' and ')
                # on enlève nb et caractère spéciaux 
                # mets en minuscule tout, puis mets que les première lettre en majuscule puis enlèev espace avant et après 
                liste_att = [re.sub("([0-9]|\(author\)|\-|\(|\)|#|\?|&|\[|\]|�|!)","", elem).lower().strip().title() for elem in liste_att] 
                liste_att = [' '.join(elem.split()) for elem in liste_att] 
                liste_att = [elem for elem in liste_att if len(elem) > 2]
            else :
                liste_att = chaine_att.split('/')
                liste_att = [elem for elem in liste_att if len(elem)>1]

            if (isAuteur):
                liste_att = list(set(liste_att)) # enlever les doublons eventuels -> pb de doublement de PK sinon
            
            for elem in liste_att : 
                if (isAuteur):    
                    #elem = elem.replace("'", "''")
                    try : 
                        elem = str(elem.encode('ascii'))[2:-1]

                    except : 
                        elem = str(elem.encode())[2:-1]
                
                sql_request_select = "SELECT " + nom_id_att +" FROM " + relation + " WHERE " + att +" = '" + str(elem) + "'"
                res = mycursor.execute(sql_request_select)
                id_att = [row[0] for row in res][0]
                values = [id, id_att]
                mycursor.execute(sql_request, values)

    # On commit
    mydb.commit()

In [21]:
insert2("Pays", "nom_pays", "id_pays", False)

100%|██████████| 8439/8439 [04:00<00:00, 35.06it/s]

In [27]:
insert2("Moteur", "type_moteur", "id_moteur", False)

100%|██████████| 8439/8439 [06:32<00:00, 21.48it/s]

In [9]:
insert2("Vehicule", "type_vehicule", "id_vehicule", False)

100%|██████████| 8439/8439 [04:37<00:00, 30.43it/s]

In [ ]:
insert2("Technologie", "nom_tech", "id_tech", False)

In [ ]:
insert2("Domaine", "nom_domaine", "id_domaine", False)

In [ ]:
insert2("Marque", "nom_marque", "id_marque", False)

In [140]:
x = "Tést東野 和幸"
xu = u"Tést東野 和幸"
#xb = b"Tést東野 和幸"
print(x)
print(xu)
print(xb)

Tést東野 和幸
Tést東野 和幸

NameError: name 'xb' is not defined

In [147]:
bla = test[0]

In [202]:
test = 'T\xc3\xa9st\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8'
test.encode()

b'T\xc3\x83\xc2\xa9st\xc3\xa6\xc2\x9d\xc2\xb1\xc3\xa9\xc2\x87\xc2\x8e \xc3\xa5\xc2\x92\xc2\x8c\xc3\xa5\xc2\xb9\xc2\xb8'

In [201]:
for i in test.encode() :
    print(i)

84
195
131
194
169
115
116
195
166
194
157
194
177
195
169
194
135
194
142
32
195
165
194
146
194
140
195
165
194
185
194
184

In [18]:
x = "Tést東野 和幸"
y = "Test"
y.encode('ascii')


test = x.encode()
# print(type(test))
req = "INSERT INTO TEST VALUES ( :1, :2)"
values = [20, y]
mycursor.execute(req, values)
mydb.commit()

In [7]:
test
#test.replace('\'', '\'\'')
#'b''T\xc3\xa9st\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8'''

b'T\xc3\xa9st\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8'

In [229]:
sql_request_select = "SELECT * FROM TEST WHERE nom = '" + test.replace('\'', '\'\'') + "'"
print(sql_request_select)
res = mycursor.execute(sql_request_select)

SELECT * FROM TEST WHERE nom = 'b''T\xc3\xa9st\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8'''

In [231]:
test = [row[1] for row in res]
test[0]

IndexError: list index out of range

In [216]:
chaine = "b'"
for i in test[0]:
    chaine += i
chaine

"b'T\\xc3\\xa9st\\xe6\\x9d\\xb1\\xe9\\x87\\x8e \\xe5\\x92\\x8c\\xe5\\xb9\\xb8"

In [219]:
bla = b'T\xc3\xa9st\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8'
print(bla)

b'T\xc3\xa9st\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8'

In [138]:
btest[0]

NameError: name 'btest' is not defined

In [150]:
test = "Tést"
test.encode("ascii")

UnicodeEncodeError: 'ascii' codec can't encode character '\xe9' in position 1: ordinal not in range(128)

In [120]:
bytes('T\xc3\xa9st\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8', 'utf-8').decode()

'TÃ©stæ\x9d±é\x87\x8e å\x92\x8cå¹¸'

In [118]:
test = b"T\xc3\xa9st\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8"
#bytes(test, 'utf-8').decode()
print(test.decode())

Tést東野 和幸

In [43]:
insert2("Auteur", "nom_prenom", "id_auteur", True)

  0%|          | 0/8439 [00:00<?, ?it/s]

SELECT id_auteur FROM Auteur WHERE nom_prenom = 'b'Andrew J. Oswald''

DatabaseError: ORA-00933: la commande SQL ne se termine pas correctement

In [ ]:
insert2("MotCle", "mot", "id_motcle")

In [151]:
a = 'Test東野 和幸'
 
print('Original string:', a)
 
# Decodes to utf-8 by default
a_utf = a.encode()
 
print('Encoded string:', a_utf)

print(b'\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8'.decode())

Original string: Test東野 和幸
Encoded string: b'Test\xe6\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8'
東野 和幸

In [248]:
mydb.close()

In [10]:
test = "b'T\\xc3\\xa9st\\xe6\\x9d\xb1\xe9\x87\x8e \xe5\x92\x8c\xe5\xb9\xb8'"
test

"b'TÃ©stæ\x9d±é\x87\x8e å\x92\x8cå¹¸'"

In [158]:
print('Jo\xc3\xa3o'.decode('utf-8'))

AttributeError: 'str' object has no attribute 'decode'

In [124]:
# sql_request = "INSERT INTO Pays_Evoq VALUES ( :1, :2)"

# for chaine_pays,id in zip(tqdm(df['Pays']), df['Id']):
    
#     if (chaine_pays is not np.nan):
#         liste_pays = chaine_pays.split('/')
#         liste_pays = [pays for pays in liste_pays if len(pays)>1]
        
#         for pays in liste_pays : 
#             sql_request_select = "SELECT id_pays FROM Pays WHERE nom_pays = '"+ pays +"'"
#             res = mycursor.execute(sql_request_select)
#             id_pays = [row[0] for row in res][0]
#             values = [id, id_pays]
#             mycursor.execute(sql_request, values)
            
# # On commit
# mydb.commit()

100%|██████████| 8439/8439 [05:19<00:00, 26.41it/s]

In [5]:
# sql_request = "SELECT id_pays FROM Pays WHERE nom_pays = 'France'"
# res = mycursor.execute(sql_request)
# id_pays = [row[0] for row in res][0]