<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Install-/-Download-/-Import-Librairies" data-toc-modified-id="Install-/-Download-/-Import-Librairies-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Install / Download / Import Librairies</a></span></li><li><span><a href="#Connection-to-the-database" data-toc-modified-id="Connection-to-the-database-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Connection to the database</a></span></li><li><span><a href="#Partie-1---Insertion-of-&quot;basic&quot;-information." data-toc-modified-id="Partie-1---Insertion-of-&quot;basic&quot;-information.-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Partie 1 - Insertion of "basic" information.</a></span><ul class="toc-item"><li><span><a href="#1-1)-Countries" data-toc-modified-id="1-1)-Countries-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>1-1) Countries</a></span></li><li><span><a href="#1-2)-Brands" data-toc-modified-id="1-2)-Brands-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>1-2) Brands</a></span></li><li><span><a href="#1-3)-Domains" data-toc-modified-id="1-3)-Domains-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>1-3) Domains</a></span></li><li><span><a href="#1-4)-Vehicules" data-toc-modified-id="1-4)-Vehicules-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>1-4) Vehicules</a></span></li><li><span><a href="#1-5)-Engines" data-toc-modified-id="1-5)-Engines-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>1-5) Engines</a></span></li><li><span><a href="#1-6)-Technologies" data-toc-modified-id="1-6)-Technologies-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>1-6) Technologies</a></span></li></ul></li><li><span><a href="#Partie-2---Insertion-of-&quot;scraping&quot;-information." data-toc-modified-id="Partie-2---Insertion-of-&quot;scraping&quot;-information.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Partie 2 - Insertion of "scraping" information.</a></span><ul class="toc-item"><li><span><a href="#2-1)-Authors" data-toc-modified-id="2-1)-Authors-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>2-1) Authors</a></span></li><li><span><a href="#2-2)-Articles" data-toc-modified-id="2-2)-Articles-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>2-2) Articles</a></span></li></ul></li></ul></div>

# Install / Download / Import Librairies

In [1]:
# Text librairy
import re
import unicodedata

# Useful librairies
from tqdm import tqdm
import pandas as pd
import numpy as np

# Module for access to Oracle database
import cx_Oracle

# Connection to the database

In [21]:
# Connection to the database 'SCT2985A'.
mydb = cx_Oracle.connect('SCT2985A/esg@//telline.univ-tlse3.fr:1521/etupre',
                         encoding='UTF-8',
                         nencoding="UTF-8")

# Creation of the cursor. It is used to execute statements to communicate with the Oracle database.
mycursor = mydb.cursor()

# Partie 1 - Insertion of "basic" information. 
Insertion of information that does not require the content of the scraping files.

In [19]:
def insert(sql_request: str, list_items: list):
    """ Documentation :
            - Function allowing to make a data insertion request in the database. The primary key is an
            identifier that is manually incremented at each insertion. 

        Parameters:
            - sql_request : insertion request in SQL language.
            - list_items : list of items to insert in the database. 

    """

    # Initialization of the identifier
    id = 0

    # Browse the list
    for item in tqdm(list_items):

        # The values to be inserted are the identifier and the current value of the list (item).
        values = [id, item]
        # Execution of the request
        mycursor.execute(sql_request, values)
        # Incrementing of the identifier
        id += 1

    # Once all the insertions are done, we make a commit
    mydb.commit()

## 1-1) Countries

In [4]:
list_countries_BD = ["Algérie", "Angola", "Bénin", "Botswana", "Burkina Faso", "Burundi", "Cameroun", "Cap vert",
                     "République centrafricaine", "Tchad", "Comores", "Congo", "Djibouti", "Egypte",
                     "Guinée équatoriale", "Erythree", "Ethiopie", "Gabon", "Gambie", "Ghana", "Guinée",
                     "Guinée-Bissau", "Côte d'Ivoire", "Kenya", "Lesotho", "Liberia", "Libye", "Madagascar",
                     "Malawi", "Mali", "Mauritanie", "Ile Maurice", "Maroc", "Mozambique", "Namibie", "Niger",
                     "Nigeria", "Rwanda", "Sao Tomé-et-Principe", "Sénégal", "Seychelles", "Sierra Leone",
                     "Somalie", "Afrique du Sud", "Soudan", "Swaziland", "Tanzanie", "Togo", "Tunisie", "Ouganda",
                     "Zambie", "Zimbabwe", "Albanie", "Andorre", "Arménie", "Autriche", "Azerbaijan",
                     "Biélorussie", "Belgique", "Bosnie", "Bulgarie", "Croatie", "Chypre", "République Tchèque",
                     "Danemark", "Estonie", "Finlande", "France", "Angleterre", "Ecosse", "Pays de Galles",
                     "Géorgie", "Allemagne", "Grèce", "Hongrie", "Islande", "Irelande", "Italie", "Lettonie",
                     "Liechtenstein", "Lituanie", "Luxembourg", "Macédoine", "Malte", "Moldavie", "Monaco",
                     "Montenegro", "Pays-Bas", "Norvège", "Pologne", "Portugal", "Roumanie", "Saint-Marin",
                     "Serbie", "Slovaquie", "Slovénie", "Espagne", "Suède", "Suisse", "Ukraine", "Royaume-Uni",
                     "Vatican", "Antigua-et-Barbuda", "Bahamas", "La Barbade", "Belize", "Canada", "Costa Rica",
                     "Cuba", "Dominique", "République dominicaine", "El Salvador", "Grenade", "Guatemala", "Haiti",
                     "Honduras", "Jamaique", "Mexique", "Nicaragua", "Paname", "Saint-Christophe et Niévès",
                     "Saint Lucie", "Saint Vincent et les Grenadines", "Trinidad et Tobago", "Etats-Unis",
                     "Argentine", "Bolivie", "Brésil", "Chili", "Colombie", "Equateur", "Guyane", "Paraguay",
                     "Pérou", "Suriname", "Uruguay", "Venezuela", "Afghanistan", "Bahrein", "Bangladesh",
                     "Bhoutan", "Brunei", "Myanmar", "Cambodge", "Chine", "Timor oriental", "Inde", "Indonésie",
                     "Iran", "Irak", "Israël", "Japon", "Jordanie", "Kazakhstan", "Corée du Sud", "Corée du Nord",
                     "Koweït", "Kyrgyzstan", "Laos", "Liban", "Malaysie", "Maldives", "Mongolie", "Népal", "Oman",
                     "Pakistan", "Palestine", "Philippines", "Qatar", "Russie", "Arabie Saoudite", "Singapour",
                     "Sri Lanka", "Syrie", "Tajikistan", "Thaïlande", "Turquie", "Turkmenistan",
                     "Emirats Arabes Unis", "Ouzbekistan", "Viêtnam", "Yémen", "Australie", "Fiji",
                     "République de Kiribati", "Iles Marshall", "Micronésie", "Nauru", "Nouvelle-Zélande", "Palau",
                     "Papouasie Nouvelle Guinée", "Iles Samoa", "Iles Salomon", "Tonga", "Tuvalu", "Vanuatu",
                     "République Democratique du Congo"]

# SQL request
sql_request = "INSERT INTO Pays VALUES ( :1, :2)"

# Fonction 'insert' for the table "Pays"
insert(sql_request, list_countries_BD)

100%|██████████| 197/197 [00:08<00:00, 23.79it/s]

## 1-2) Brands

In [5]:
list_brands_BD = ["Hyundai", "Toyota", "Renault", "Honda", "Airbus", "Boeing", "Thalès", "Mercedes", "Audi", "Kia",
                  "Riversimple", "Nissan", "Ford", "Daimler", "Alstom", "BMW", "Hopium", "Peugeot", "Volkswagen",
                  "General Motors", "PSA", "Roland Gumpert", "Mazda", "Aston Martin", "Pininfarina", "Suzuki",
                  "Volvo", "Opel", "Dassault", "Cessna", "Bombardier", "MiG", "Diamond Aircraft", "ZeroAvia",
                  "Rolls-Royce", "Eviation", "Khrounitchev", "SpaceX", "Avio", "ArianeGroup",
                  "United Launch Alliance", "McDonnell Douglas", "Mitsubishi Heavy Industries", "ISRO",
                  "Ioujnoie", "Citroën", "Fiat", "Lancia", "Skoda", "Yamaha", "KTM", "Kawasaki", "Ducati",
                  "Suzuki"]

# SQL request
sql_request = "INSERT INTO Marque VALUES ( :1, :2)"

# Fonction 'insert' for the table "Marque"
insert(sql_request, list_brands_BD)

100%|██████████| 54/54 [00:02<00:00, 23.74it/s]

## 1-3) Domains

In [6]:
list_domains_BD = ["Militaire", "Agriculture", "Astronautique", "Aéronautique", "Transport Marchandises",
                   "Transport Personnes", "Politique", "Automobile", "Ferroviaire", "Energies Renouvelables",
                   "Energies Fossiles", "Performance", "Chimie"]

# SQL request
sql_request = "INSERT INTO Domaine VALUES ( :1, :2)"

# Fonction 'insert' for the table "Domaines"
insert(sql_request, list_domains_BD)

100%|██████████| 13/13 [00:00<00:00, 23.39it/s]

## 1-4) Vehicules

In [7]:
list_vehicules_BD = ["Train", "Tracteur", "Vélo", "Bateau", "Avion", "Voiture", "Camion", "Bus", "Fusée",
                     "Hélicoptère", "Moto", "Tramway", "Sous-marin"]

# SQL request
sql_request = "INSERT INTO Vehicule VALUES ( :1, :2)"

# Fonction 'insert' for the table "Vehicules"
insert(sql_request, list_vehicules_BD)

100%|██████████| 13/13 [00:00<00:00, 23.51it/s]

## 1-5) Engines

In [8]:
list_moteur_BD = ["Combustion interne",
                  "Réaction",  "Pile à combustible", "Hybride"]

# SQL request
sql_request = "INSERT INTO Moteur  VALUES ( :1, :2)"

# Fonction 'insert' for the table "Moteur"
insert(sql_request, liste_moteur_BD)

100%|██████████| 4/4 [00:08<00:00,  2.05s/it]

## 1-6) Technologies
Table different from the previous ones: there are 4 attributes. So we cannot use the 'insert' function.

In [10]:
# Several lists to differentiate technologies (storage or production and type of production).
# This will allow the right values to be set for the attributes.
list_type_prod_BD_H = ["SMR", "Pyrolyse du méthane", "Oxydation partielle", "Reformage plasma",
                       "Gazéification du charbon"]

list_type_prod_BD_E = ["Electrolyse", "Electrochimie", "Radiolyse", "Thermolyse", "Thermochimie",
                       "Ferrosilicium", "Culture d'algues", "Fission photocatalytique"]

list_type_prod_BD_A = ["Fermentation", "Production enzymatique",
                       "Electrolyse biocatalysée"]

list_storage_BD = ['Gaz', 'Liquide', 'Solide']


# SQL request
sql_request = "INSERT INTO Technologie VALUES ( :1, :2, :3, :4)"

# Initialization of identifiant and cumpter
id_techno = 0
cpt = 0

# The 4 types of lists are browsed
for list_tech in tqdm([liste_type_prod_BD_H, liste_type_prod_BD_E, liste_type_prod_BD_A, liste_stockage_BD]):

    # If cpt is not equal to 3, it's a production technology
    if (cpt != 3):
        cat = 'Production'
    # Else it's a storage technology
    else:
        cat = 'Stockage'

    # If cpt is equal to 0, the source is Hydraucarbon
    if (cpt == 0):
        source = 'Hydraucarbures'
    # If cpt equals 1, the source is Water
    elif (cpt == 1):
        source = 'Eau'
    # If cpt is equal to 2, the source is Other
    elif (cpt == 2):
        source = 'Autre'
    # Else there is no source.
    else:
        source = None

    # The technology list is browsed and inserted into the BD
    for techno in list_tech:
        values = [id_techno, techno, cat, source]
        mycursor.execute(sql_request, values)
        id_techno += 1

    # Incrementation of cpt since we change of list
    cpt += 1

# Once all the insertions are done, we make a commit
mydb.commit()

100%|██████████| 4/4 [00:00<00:00,  4.87it/s]

# Partie 2 - Insertion of "scraping" information. 
Insertion of information that require the content of the scraping files.

In [12]:
# The information contained in the 'df_scraping.csv' file (created with the 'scraping_v1.4' notebook) is
# recovered in a dataframe.
df = pd.read_csv("../scraping/df_scraping.csv",
                 sep=',', index_col=False, encoding='utf-8')

# Check the dimensions of the DataFrame
df.shape

(8439, 13)

## 2-1) Authors

In [15]:
# Initialization of useful variables.
sql_request_authors = "INSERT INTO Auteur  VALUES ( :1, :2)"  # SQL requests
id_authors = 0  # authors identifier

# Set to avoid reinserting an author several times
authors_already_inserted = set()

# Dictionary to find the names of authors. For example, in the database, "오진숙" will be coded as
# "\xec\x98\xa4\xec\xa7\x84\xec\x88\x99". Thanks to this dictionary, we will be able to find the real name
# of the authors with special characters when viewing the data.
author_utf8 = dict()

# Browse the list of authors
for authors in tqdm(df['Auteur']):

    # If the information for the current article is not None
    if (authors is not np.nan):

        # Separate authors with the 'and' separation (see the Scraping Notebook)
        authors = authors.split(' and ')

        # Cleaning up names :
        # - Remove numbers and special characters
        # - Put everything in lower case, then put only the first letter in upper case
        authors = [re.sub("([0-9]|(\((.*?)\))|\-|\(|\)|#|\?|&|\[|\]|�|!)",
                          "", author).lower().strip().title() for author in auteurs]

        # - Finally, we remove the spaces before and after.
        authors = [' '.join(author.split()) for author in authors]

        # Browse all authors who have written the current article
        for author in authors:

            # We check that it has not already been inserted and that the length of its name
            # is not just a character or an empty string.
            if author not in authors_already_inserted and len(author) > 2:
                # It is added to the set
                authors_already_inserted.add(author)

                # We try to encode it in 'Ascii', if we can't do it, it contains special characters.
                # It must therefore be encoded with the 'UTF-8' format and added to the dictionary (see
                # explanation above).
                try:
                    author_BD = str(author.encode('ascii'))[2:-1]
                except:
                    author_BD = str(author.encode())[2:-1]
                    author_utf8[auteur] = author_BD

                # The values to be inserted are the identifier and the name of auteur.
                values = [id_authors, author_BD]
                # Execution of the request
                mycursor.execute(sql_request_authors, values)
                # Incrementing of the identifier
                id_authors += 1

# Once all the insertions are done, we make a commit
mydb.commit()

100%|██████████| 8439/8439 [16:23<00:00,  8.58it/s]

## 2-2) Articles

To start with, a function will be needed to clean up the dates and have a uniform format.

In [17]:
def nettoyer(date: str) -> str:
    """
        Documentation :
            - Function that standardises the format of dates. 

        Parameter :
            - date : date in raw format. 

        Output :
            - date_clean : date in 'day/month/year' format. 


    """

    # Check that the date is in 'str' format (i.e. that it is not None)
    if (type(date) == str):

        # Most of the scraped dates are in 'year-month-day' format.
        # Simply retrieve each element and put it back in the order that we want.
        if (len(date) == 10 and date[4] == '-' and date[7] == '-'):
            annee = date[:4]
            mois = date[5:7]
            jour = date[-2:]

            # Sometimes there is no day and/or month and the value is 00.
            # If this is the case, we change it to 01 (we will do our analysis on years only)
            if (int(mois) < 1 or int(mois) > 12):
                mois = '01'
            if (int(jour) < 1 or int(jour) > 31):
                jour = '01'

            date_clean = jour + '-' + mois + '-' + annee

        # Another format is "[year]". Just get the year in square brackets and put 01 for the day and month
        elif (len(date) == 6 and date[0] == '[' and date[-1] == ']'):
            annee = date[1:-1]
            date_clean = '01-01-' + annee

        # If the date is of length 4 and contains 19** or 20**, it is a year.
        elif (len(date) == 4 and ('19' in date or '20' in date)):
            date_clean = '01-01-' + date

        # If it is another format than the three above, we just look if there is a year present (19** or 20**).
        elif (re.search("(19|20)[0-9]{2}", date) is not None):
            pos = re.search("(19|20)[0-9]{2}", date).start()
            annee = date[pos:pos+4]
            date_clean = '01-01-' + annee
            
        # Otherwise we can't determine the date, we return None 
        else:
            date_clean = None
    else:
        date_clean = None

    # date in 'day/month/year' format (or None)
    return date_clean

In [22]:
# The previous function is applied to each date.
dates = df['Date'].apply(lambda x: nettoyer(x))

# For all titles, we put them all in lower case except the first letter (to standardize)
titles = df['Titre'].apply(lambda x: None if (
    x is np.nan) else x.lower().capitalize())

# For languages, np.nan and 'Undetermined' are replaced by None
langages = df['Langue'].apply(lambda x: None if x == 'Undetermined' else x).apply(
    lambda x: None if (x is np.nan) else x)

# SQL request 
sql_request_articles = "INSERT INTO Article  VALUES ( :1, :2, :3, :4)"

# Note: a 'drop duplicate' has been performed beforehand => no risk of duplication
for id, title, langage, date in zip(tqdm(df['Id']), titles, langages, dates):
    
    # The values to be inserted are the identifier, the title, the langage and the date.
    values = [id, title, langage, date]

    # Execution of the request
    mycursor.execute(sql_request_articles, values)

# Once all the insertions are done, we make a commit
mydb.commit()

100%|██████████| 8439/8439 [06:48<00:00, 20.68it/s]

In [ ]:
# MOT CLE
# nétoyyer mot clé => enlever ponctuation (pas toutes ! mais les parentèses pâs les - )
# enelver espace avant après (et en trop au milieu)
# majuscule ? 
# voir NLP comment netoyyer mot OU 
# fonction tanguy porjet interpromo ?

In [32]:
def cleanning(item: str, special_character: list):

    # Convert text to lowercase
    item: str = item.lower()

    iteam: str = re.sub("((\((.*?)\))|)", "", item)

    # Step 1 : Remove accents
    item = unicodedata.normalize('NFD', str(item)).encode(
        'ascii', 'ignore').decode("utf-8")

    # Step 2 : Remove Special character
    for i in special_character:

        item = item.replace(i, "")

    # Remove whitespaces
    item = item.strip()
    result = ' '.join(item.split())

    # Return my cleaned article
    return result

In [33]:
special_character: list = ["!", "\"", "#", "$", "%", "&", "\\", "(",
                           ")", "*", "+", ",", "-", ".", ":", ";",
                           "<", "=", ">", "?", "@", "[", "]", "^", "_",
                           "{", "|", "}", "~", "«", "»", "’", "•", "…",
                           "â", "€", "™", "—", "�", "–", "“", "”"]

In [34]:
col_motcle = df['MotCle']

col_motcle = col_motcle.apply(
    lambda x: x if x is np.nan else cleanning(x, special_character))

In [35]:
col_motcle

0       renewable energy / wind power / land use / ene...
1                                                     NaN
2                                   faculty research day/
3       road transportportugal/ pollutant emissions/ c...
4       130 mechanical/ industrial/ civil and marine e...
                              ...
8434                                                  NaN
8435                                                  NaN
8436                                                  NaN
8437                                                  NaN
8438                                                  NaN
Name: MotCle, Length: 8439, dtype: object

In [63]:
# MOTS CLES '
mots_deja_inseres = set()
id_mot = 0
sql_request = "INSERT INTO MotCle  VALUES ( :1, :2)"

for mots in tqdm(col_motcle):
    if (mots is not np.nan):
        mots = mots.split('/')

        # Supprimer les espaces en trop
        mots = [' '.join(elem.split()) for elem in mots]

        for mot in mots:
            mot = mot.capitalize()

            if mot not in mots_deja_inseres and len(mot) > 2 and len(mot) < 150:
                mots_deja_inseres.add(mot)
                values = [id_mot, mot]
                mycursor.execute(sql_request, values)
                id_mot += 1

# On commit
mydb.commit()

100%|██████████| 8439/8439 [03:47<00:00, 37.02it/s]

In [64]:
len(mots_deja_inseres)

5859

In [ ]:
#################################################################

In [24]:
def insert2(relation, col, att, nom_id_att):
    sql_request = "INSERT INTO " + relation + "_Evoq VALUES ( :1, :2)"
    for chaine_att, id in zip(tqdm(df[col]), df['Id']):

        if (chaine_att is not np.nan):
            liste_att = chaine_att.split('/')
            liste_att = [elem for elem in liste_att if len(elem) > 1]

            for elem in liste_att:
                elem = elem.replace("'", "''")
                sql_request_select = "SELECT " + nom_id_att + " FROM " + \
                    relation + " WHERE " + att + " = '" + elem + "'"
                res = mycursor.execute(sql_request_select)
                id_att = [row[0] for row in res][0]
                values = [id, id_att]
                mycursor.execute(sql_request, values)

    # On commit
    mydb.commit()

In [21]:
insert2("Pays", "Pays", "nom_pays", "id_pays")

100%|██████████| 8439/8439 [04:00<00:00, 35.06it/s]

In [27]:
insert2("Moteur", "Moteur", "type_moteur", "id_moteur")

100%|██████████| 8439/8439 [06:32<00:00, 21.48it/s]

In [9]:
insert2("Vehicule", "Vehicule", "type_vehicule", "id_vehicule")

100%|██████████| 8439/8439 [04:37<00:00, 30.43it/s]

In [69]:
insert2("Domaine", "Domaine", "nom_domaine", "id_domaine")

100%|██████████| 8439/8439 [06:33<00:00, 21.47it/s]

In [70]:
insert2("Marque", "Marque", "nom_marque", "id_marque")

100%|██████████| 8439/8439 [01:17<00:00, 108.70it/s]

In [19]:
insert2("Technologie", "Stockage", "nom_tech", "id_tech")

100%|██████████| 8439/8439 [04:06<00:00, 34.24it/s]

In [26]:
insert2("Technologie", "Production", "nom_tech", "id_tech")

100%|██████████| 8439/8439 [03:16<00:00, 43.04it/s]

In [41]:
sql_request = "INSERT INTO MotsCle_Evoq VALUES ( :1, :2)"

for chaine_mot, id in zip(tqdm(col_motcle), df['Id']):

    if (chaine_mot is not np.nan):
        mots = chaine_mot.split('/')
        mots = [elem for elem in mots if len(elem) > 1]

        # Supprimer les espaces en trop
        mots = [' '.join(elem.split()) for elem in mots]

        # enlever les doublons eventuels -> pb de doublement de PK sinon
        mots = list(set(mots))

        for mot in mots:
            mot = mot.capitalize()
            if len(mot) > 2 and len(mot) < 150:
                mot = mot.replace("'", "''")
                sql_request_select = "SELECT id_motcle FROM Motcle WHERE mot = '" + mot + "'"
                res = mycursor.execute(sql_request_select)
                id_att = [row[0] for row in res][0]
                values = [id, id_att]
                mycursor.execute(sql_request, values)

    # On commit
    mydb.commit()

100%|██████████| 8439/8439 [22:43<00:00,  6.19it/s]

In [13]:
sql_request = "INSERT INTO Auteur_Evoq VALUES ( :1, :2)"

auteur1 = df["Auteur"].iloc[:4000]
id1 = df['Id'].iloc[:4000]
auteur2 = df["Auteur"].iloc[4000:]
id2 = df['Id'].iloc[4000:]

for col_att, col_id in zip([auteur1, auteur2], [id1, id2]):
    for chaine_att, id in zip(tqdm(col_att), col_id):

        if (chaine_att is not np.nan):
            liste_att = chaine_att.split(' and ')
            # on enlève nb et caractère spéciaux
            # mets en minuscule tout, puis mets que les première lettre en majuscule puis enlèev espace avant et après
            liste_att = [re.sub("([0-9]|(\((.*?)\))|\-|\(|\)|#|\?|&|\[|\]|�|!)",
                                "", elem).lower().strip().title() for elem in liste_att]
            liste_att = [' '.join(elem.split()) for elem in liste_att]
            liste_att = [elem for elem in liste_att if len(elem) > 2]

            # enlever les doublons eventuels -> pb de doublement de PK sinon
            liste_att = list(set(liste_att))

            for elem in liste_att:
                try:
                    elem = str(elem.encode('ascii'))[2:-1]

                except:
                    elem = str(elem.encode())[2:-1]
                elem = elem.replace("'", "''")

                sql_request_select = "SELECT id_auteur FROM Auteur WHERE nom_prenom = '" + elem + "'"
                res = mycursor.execute(sql_request_select)
                id_att = [row[0] for row in res][0]
                values = [id, id_att]
                mycursor.execute(sql_request, values)

    # On commit
    mydb.commit()

100%|██████████| 4000/4000 [24:49<00:00,  2.68it/s]
100%|██████████| 4439/4439 [33:00<00:00,  2.24it/s]

In [7]:
mydb.close()

In [124]:
# sql_request = "INSERT INTO Pays_Evoq VALUES ( :1, :2)"

# for chaine_pays,id in zip(tqdm(df['Pays']), df['Id']):
    
#     if (chaine_pays is not np.nan):
#         liste_pays = chaine_pays.split('/')
#         liste_pays = [pays for pays in liste_pays if len(pays)>1]
        
#         for pays in liste_pays : 
#             sql_request_select = "SELECT id_pays FROM Pays WHERE nom_pays = '"+ pays +"'"
#             res = mycursor.execute(sql_request_select)
#             id_pays = [row[0] for row in res][0]
#             values = [id, id_pays]
#             mycursor.execute(sql_request, values)
            
# # On commit
# mydb.commit()

100%|██████████| 8439/8439 [05:19<00:00, 26.41it/s]

In [5]:
# sql_request = "SELECT id_pays FROM Pays WHERE nom_pays = 'France'"
# res = mycursor.execute(sql_request)
# id_pays = [row[0] for row in res][0]