<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Insertion-dans-la-table-Pays" data-toc-modified-id="Insertion-dans-la-table-Pays-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Insertion dans la table Pays</a></span></li></ul></div>

# Insertion dans la table Pays

In [1]:
#Import

#from sqlalchemy import create_engine
import cx_Oracle
from tqdm import tqdm

In [2]:
# Connexion à la base de données
mydb = cx_Oracle.connect('SCT2985A/esg@//telline.univ-tlse3.fr:1521/etupre', encoding='utf-8')
mycursor = mydb.cursor()

In [3]:
def insert(sql_request, liste):

    id = 0 

    for elem in tqdm(liste): 
        values = [id, elem]
        mycursor.execute(sql_request, values)
        id += 1
        
    # On commit
    mydb.commit()

In [4]:
# PAYS
liste_pays_BD = ["Algérie", "Angola", "Bénin", "Botswana", "Burkina Faso", "Burundi", "Cameroun", "Cap vert",
                 "République centrafricaine", "Tchad", "Comores", "Congo", "Djibouti", "Egypte",
                 "Guinée équatoriale", "Erythree", "Ethiopie", "Gabon", "Gambie", "Ghana", "Guinée", 
                 "Guinée-Bissau", "Côte d'Ivoire", "Kenya", "Lesotho", "Liberia", "Libye", "Madagascar", "Malawi",
                 "Mali", "Mauritanie", "Ile Maurice", "Maroc", "Mozambique", "Namibie", "Niger", "Nigeria", 
                 "Rwanda", "Sao Tomé-et-Principe", "Sénégal", "Seychelles", "Sierra Leone", "Somalie", 
                 "Afrique du Sud", "Soudan", "Swaziland", "Tanzanie", "Togo", "Tunisie", "Ouganda", "Zambie", 
                 "Zimbabwe", "Albanie", "Andorre", "Arménie", "Autriche", "Azerbaijan", "Biélorussie", "Belgique", 
                 "Bosnie", "Bulgarie", "Croatie", "Chypre", "République Tchèque", "Danemark", "Estonie", 
                 "Finlande", "France", "Angleterre", "Ecosse", "Pays de Galles", "Géorgie", "Allemagne", "Grèce", 
                 "Hongrie", "Islande", "Irelande", "Italie", "Lettonie", "Liechtenstein", "Lituanie", "Luxembourg",
                 "Macédoine", "Malte", "Moldavie", "Monaco", "Montenegro", "Pays-Bas", "Norvège", "Pologne", 
                 "Portugal", "Roumanie", "Saint-Marin", "Serbie", "Slovaquie", "Slovénie", "Espagne", "Suède", 
                 "Suisse", "Ukraine", "Royaume-Uni", "Vatican", "Antigua-et-Barbuda", "Bahamas", "La Barbade", 
                 "Belize", "Canada", "Costa Rica", "Cuba", "Dominique", "République dominicaine", "El Salvador", 
                 "Grenade", "Guatemala", "Haiti", "Honduras", "Jamaique", "Mexique", "Nicaragua", "Paname", 
                 "Saint-Christophe et Niévès", "Saint Lucie", "Saint Vincent et les Grenadines",
                 "Trinidad et Tobago", "Etats-Unis", "Argentine", "Bolivie", "Brésil", "Chili", "Colombie", 
                 "Equateur", "Guyane", "Paraguay", "Pérou", "Suriname", "Uruguay", "Venezuela", "Afghanistan", 
                 "Bahrein", "Bangladesh", "Bhoutan", "Brunei", "Myanmar", "Cambodge", "Chine", "Timor oriental", 
                 "Inde", "Indonésie", "Iran", "Irak", "Israël", "Japon", "Jordanie", "Kazakhstan", "Corée du Sud",
                 "Corée du Nord", "Koweït", "Kyrgyzstan", "Laos", "Liban", "Malaysie", "Maldives", "Mongolie", 
                 "Népal", "Oman", "Pakistan", "Palestine", "Philippines", "Qatar", "Russie", "Arabie Saoudite",
                 "Singapour", "Sri Lanka", "Syrie", "Tajikistan", "Thaïlande", "Turquie", "Turkmenistan", 
                 "Emirats Arabes Unis", "Ouzbekistan", "Viêtnam", "Yémen", "Australie", "Fiji", 
                 "République de Kiribati", "Iles Marshall", "Micronésie", "Nauru", "Nouvelle-Zélande", "Palau",
                 "Papouasie Nouvelle Guinée", "Iles Samoa", "Iles Salomon", "Tonga", "Tuvalu", "Vanuatu", 
                 "République Democratique du Congo"]

# Requête SQL
sql_request = "INSERT INTO Pays VALUES ( :1, :2)"

insert(sql_request, liste_pays_BD)

100%|██████████| 197/197 [00:07<00:00, 25.11it/s]

In [5]:
# MARQUES 
liste_marque_BD = ["Hyundai", "Toyota", "Renault", "Honda", "Airbus", "Boeing", "Thalès", "Mercedes", "Audi", 
                   "Kia", "Riversimple", "Nissan", "Ford", "Daimler", "Alstom", "BMW", "Hopium", "Peugeot", 
                   "Volkswagen", "General Motors", "PSA", "Roland Gumpert", "Mazda", "Aston Martin", "Pininfarina",
                   "Suzuki", "Volvo", "Opel", "Dassault", "Cessna", "Bombardier", "MiG", "Diamond", "ZeroAvia", 
                   "Rolls-Royce", "Eviation", "Khrounitchev", "NASA", "SpaceX", "Avio", "ArianeGroup", 
                   "United Launch Alliance", "McDonnell Douglas", "Mitsubishi Heavy Industries", "ISRO", 
                   "Ioujnoie"]

# Requête SQL
sql_request = "INSERT INTO Marque VALUES ( :1, :2)"

insert(sql_request, liste_marque_BD)

100%|██████████| 46/46 [00:01<00:00, 24.98it/s]

In [6]:
# DOMAINES 
liste_domaine_BD = ['Militaire', 'Agriculture', 'Astronautique', "Aéronautique"]

# Requête SQL
sql_request = "INSERT INTO Domaine VALUES ( :1, :2)"

insert(sql_request, liste_domaine_BD)

100%|██████████| 4/4 [00:00<00:00, 23.49it/s]

In [7]:
# VEHICULES 
liste_vehicule_BD = ["Train", "Tracteur", "Vélo", "Bateau", "Avion", "Voiture", "Camion", "Bus", "Fusée", 
                     "Hélicoptère", "Moto", "Tramway"]

# Requête SQL
sql_request = "INSERT INTO Vehicule VALUES ( :1, :2)"

insert(sql_request, liste_vehicule_BD)

100%|██████████| 12/12 [00:00<00:00, 23.00it/s]

In [8]:
# MOTEURS 
liste_moteur_BD = ["Combustion interne", "Réaction",  "Pile à combustible", "Hybride"]

# Requête SQL
sql_request = "INSERT INTO Moteur  VALUES ( :1, :2)"

insert(sql_request, liste_moteur_BD)

100%|██████████| 4/4 [00:00<00:00, 23.44it/s]

In [9]:
# TECHONOLOGIES
liste_type_prod_BD_H = ["SMR", "Pyrolyse du méthane", "Oxydation partielle", "Reformage plasma",
                        "Gazéification du charbon"]

liste_type_prod_BD_E = ["Electrolyse", "Electrochimie", "Radiolyse", "Thermolyse", "Thermochimie",
                        "Ferrosilicium", "Culture d'algues", "Fission photocatalytique"]

liste_type_prod_BD_A = ["Fermentation", "Production enzymatique", "Electrolyse biocatalysée"]


liste_stockage_BD = ['Gaz', 'Liquide', 'Solide']


# Requête SQL
sql_request = "INSERT INTO Technologie VALUES ( :1, :2, :3, :4)"


id_techno = 0
cpt = 0

for liste in tqdm([liste_type_prod_BD_H, liste_type_prod_BD_E, liste_type_prod_BD_A, liste_stockage_BD]):
    if (cpt != 3):
        cat = 'Production'
    else:
        cat = 'Stockage'

    if (cpt == 0):
        source = 'Hydraucarbures'
    elif (cpt == 1):
        source = 'Eau'
    elif (cpt == 2):
        source = 'Autre'
    else:
        source = None

    for techno in liste:
        values = [id_techno, techno, cat, source]
        mycursor.execute(sql_request, values)
        id_techno += 1
    cpt += 1

# On commit
mydb.commit()

In [ ]:
# FAIRE UN DROP DUPLICATES SUR LA JOINTURE DES DF !! (notebook précédent)
# drop duplicates sur tout ou juste sur titre, auteur, etc ? (plutot sur tout pour garder un nb d'articles sup à 8000 )


### (!)(!)(!)(!)(!)(!)(!) Regarder les doublons sur id !

In [ ]:
# AUTEURS 
col_auteurs = df['auteur']
auteurs_deja_inseres = set()
id_auteurs = 0 
sql_request_auteurs = "INSERT INTO Auteur  VALUES ( :1, :2)"

for auteurs in col_auteurs : 
    auteurs = auteurs.split('and')
    auteurs = [elem.lower().strip().title() for elem in auteurs] # mets en minuscule tout, puis mets que les première lettre en majuscule puis enlèev espace avant et après 

    #(!) accents 
    # Rmq : on ne peut pas utiliser la fonction créée précédemment car il faut vérifier que l'auteur que l'on veut insérer n'a pas déjà été inséré dans la BD 
    for auteur in auteurs : 

        if auteur not in auteurs_deja_inseres : 
            values = [id_auteurs, auteur]
            mycursor.execute(sql_request, values)
            id_auteurs += 1
                
# On commit
mydb.commit()

In [ ]:
# ARTICLES 
def nettoyer(date): 
    if (len(date) == 10 and date[4]=='-' and date[7]=='-'):
        # format à déterminer 
    elif (len(date) == 6):
        date = date[1:-1]
        # il y a que l'année 


    # TODO




ids = df['id']
dates = df['date']
titres = df['titre']
langues = df['langue']

sql_request_articles = "INSERT INTO Article  VALUES ( :1, :2, :3, :4)"

# Rmq : on a effectué un drop duplicate préalablement => pas de risque de doublons 
for id, titre, langue, date in zip(ids, titres, langues, dates): 

    date = nettoyer(date)

    values = [id, titre, langue, date]
    mycursor.execute(sql_request, values)


# On commit
mydb.commit()

In [ ]:
#close !!!